<%= form_for(@user, html: {class: "nav-form"}) do |f| %>

  <% if @user.errors.any? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h4>Atenção!</h4>
      Os seguintes erros foram encontrados:
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder:"Nome", class: "span8" %> 
  </div>
  <div class="field">
    <%= f.text_field :email, placeholder:"E-mail", class: "span8"  %> 
  </div>
  <div class="field">
    <%= f.password_field :password, placeholder:"Password", class: "span5"  %> 
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, placeholder:"Confirmação", class: "span5"  %> 
  </div>
  <div class="field">
    <% #= f.date_select :logged_at %>
  </div>
  <div class="actions">
    <%= f.submit "Salvar", class: "btn btn-primary btn-inverse" %>
  </div>
<% end %>
