<ul class="breadcrumb">
  <li><%= @current_user.name%></li>
</ul>
<div class="row-fluid">
  <div class="span6">
    <img src="/assets/dog.png"  title="<%= @current_user.name %>" alt="Ralph Steadman Artwork"/>
  </div><!-- div:span6 -->
  <div class="span5">
    <h3>Olá <%= @current_user.name %></h3>
    <div class="well">
      <p>
        <b>Nome:</b>
        <%= @user.name %>
      </p>
      <p>
        <b>E-mail:</b>
        <%= @user.email %>
      </p>
    </div>
    <%= link_to "Alterar Senha", password_path, :class => "btn btn-info btn-block btn-large" %>
  </div><!-- div:span3 -->
</div><!-- div:row -->
