<ul class="breadcrumb">
  <li><%= link_to @current_user.name, users_path %> <span class="divider">/</span></li>
  <li><b>Usuários</b></li>
</ul>
<div class="row-fluid">
  <div class="span6">
    <div class="page-header">
      <h3>Usuários</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Admin</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name  %></td>
            <td><%= user.email %></td>
            <td><%= user.admin ? "Admin" : "Comum" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <!--  <a href="#newUser" role="button" class="btn btn-inverse btn-large" data-toggle="modal">Novo usuário</a> -->
    <br />

  </div><!-- div:span6 -->
  <div class="span5">
    <img src="/assets/bart.png"  title="<%= @current_user.name %>" alt="Ralph Steadman Artwork"/>
  </div><!-- div:span6 -->
</div><!-- div:row -->

