<ul class="breadcrumb">
  <li><%= link_to @current_user.name, retrospectives_path %> <span class="divider">/</span></li>
  <li><b>Alterar Senha</b></li>
</ul>
<div class="row-fluid">
  <div class="span6">
    <img src="/assets/willy.png"  title="<%= @current_user.name %>" alt="Ralph Steadman Artwork"/>
  </div><!-- div:span10 -->
  <div class="span5">
    <h3><%= @current_user.name %></h3>
    <legend></legend>
    <p>Não esqueça de anotar sua nova senha.</p>
    <%= form_for(@user, :url => password_update_path, html: {class: "nav-form"}) do |f| %>
      <% if @user.errors.any? or notice %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <h4>Atenção!</h4>
          Os seguintes erros foram encontrados:
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.password_field :password, placeholder:"Password", class: "span5"  %>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation, placeholder:"Confirmação", class: "span5"  %>
      </div>
      <div class="actions">
        <%= f.submit "Salvar", class: "btn btn-primary btn-inverse" %>
        <% unless @current_user %>
        <%= link_to 'Voltar', root_path, class: "btn btn-link" %>
        <% end %>
      </div>
    <% end %>
  </div><!-- div:span3 -->
</div><!-- div:row -->
