<!DOCTYPE html>
<html>
  <head>
    <title>Fosformol</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="home">
    <div class="container">
      <div class="hero-unit">
        <a href="https://github.com/zekitow/retro" target="_blank">
          <img class="fork-me" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub">
        </a>
        <div class="page-header">
          <div class="row-fluid">
            <div class="span3"><img src="/assets/homer.png" title="Doh!"/> </div>
            <div class="span9">
              <h1>Fosformol</h1>
              <h2>Não esqueça o que rolou na última retro!</h1>
              <form class="form-inline" action="/signin" method="POST">
                <legend></legend>
                <% if alert %>
                  <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <h4>Obrigado!</h4>
                    <%=alert%>
                  </div>
                <% end %>
                <% if notice %>
                  <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <h4>Ooops!</h4>
                    <%=notice%>
                  </div>
                <% end %>
                <div class="control-group">
                  <div class="controls">
                    <input type="text" placeholder="E-mail" class="span4" name="email"/>
                  </div><!-- div.controls -->
                </div><!-- div.control-group -->
                <div class="control-group">
                  <div class="controls">
                    <input type="password" placeholder="Password"  class="span3" name="password"/>
                    <button type="submit" class="btn btn-inverse">Login</button>
                  </div><!-- div.controls -->
                </div><!-- div.control-group -->
                <div class="control-group">
                  <div class="controls">
                    <span class="help-block">Não tenho uma conta, mas quero me <%= link_to 'cadastrar', signup_path %>.</span>
                  </div><!-- div.controls -->
                </div><!-- div.control-group -->
              </form>
            </div><!-- div:span10 -->
          </div><!-- div.row-fluid -->
        </div><!-- div:page-header -->
      </div><!--/div:hero-unit-->
    </div><!-- /div:container-->
    <footer>
      <div class="container">
        <p><span class="label label-info">abril@open-friday</span></p>
      </div><!-- /div:container-->
    </footer>
  </body>
</html>
