    <table class="table">
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Ação</th>
          <th width="20"></th>
        </tr>
      </thead>
      <tbody>
        <% @retrospective.bads.each do |bad| %>
          <tr class="bad">
            <td class="bad-desc"><%= bad.description %></td>
            <td class="bad-action"><%= bad.action %></td>
            <td id="<%= item_votes_id(bad) %>" class="votes"><%= bad.votes %></td>
            <td><%= link_to '', vote_up_url(model: bad.class.to_s.downcase, id: bad.id), remote: true, method: :post, class: 'icon-thumbs-up' %></td>
            <td><%= link_to '', vote_down_url(model: bad.class.to_s.downcase, id: bad.id), remote: true, method: :delete, class: 'icon-thumbs-down' %></td>
            <td><%= link_to '', retrospective_bad_url(@retrospective, bad), method: :delete, data: { confirm: "Tem certeza?" }, class: 'icon-remove' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

