    <table class="table">
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Ação</th>
          <th width="20"></th>
        </tr>
      </thead>
      <tbody>
        <% @retrospective.bads.each do |bad| %>
          <tr class="bad" id="bad-<%= bad.id %>">
            <td class="bad-desc"><%= best_in_place bad, :description, type: :input, path: retrospective_bad_path(@retrospective, bad) %></td>
            <td class="bad-action"><%= best_in_place bad, :action, type: :input, path: retrospective_bad_path(@retrospective, bad) %></td>
            <td id="<%= item_votes_id(bad) %>" class="votes"><%= bad.votes %></td>
            <td>
              <div class="btn-group">
                <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">Ações <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Gostei', vote_up_url(model: bad.class.to_s.downcase, id: bad.id), remote: true, method: :post %></li>
                  <li><%= link_to 'Não Gostei', vote_down_url(model: bad.class.to_s.downcase, id: bad.id), remote: true, method: :delete %></li>
                  <li>
                    <input type="hidden" value="<%= bad.id %>" />
                    <a href="#delete-bad" data-toggle="modal" class="btn-delete-bad">Excluir</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

