<ul class="breadcrumb">
  <li><%= link_to @current_user.name, retrospectives_path %> <span class="divider">/</span></li>
  <li><%= link_to 'Retrospectivas', retrospectives_path %> <span class="divider">/</span></li>
  <li><b>Sprint # <%= @retrospective.sprint_number %></b></li>
</ul>
<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h3>Sprint # <%= @retrospective.sprint_number %></h3>
    </div>
  </div><!--/div:span5 -->
</div><!-- div:row -->
<div class="row-fluid">
  <div class="span6">
    <h4><a href="#addBom" role="button" class="btn btn-small btn-success" data-toggle="modal">Bom</a></h4>
    <%= render 'list_goods' %>
  </div><!-- div:span6 -->
  <div class="span6">
    <h4><a href="#addRuim" role="button" class="btn btn-small btn-danger" data-toggle="modal">Ruim</a></h4>
    <%= render 'list_bads' %>

  </div><!-- div:span6 -->
</div><!-- div:row -->

<%= render 'new_good' %>
<%= render 'new_bad' %>
