<ul class="breadcrumb">
  <li><%= link_to @current_user.name, retrospectives_path %> <span class="divider">/</span></li>
  <li><%= link_to 'Retrospectivas', retrospectives_path %> <span class="divider">/</span></li>
  <li><b><%= @retrospective.name %></b></li>
</ul>
<div class="alert alert-error hide" id="retrospectives-alert-error">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4></h4>
  <p></p>
</div>
<div class="alert alert-success hide" id="retrospectives-alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4></h4>
  <p></p>
</div>
<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h3><%= @retrospective.name %></h3>
      <%#= link_to "Enviar", retrospective_send_email_path(@retrospective), :role => "button", :class => "btn btn-small btn-primary", "data-toggle" =>"modal" %>
      <% if @retrospective.start_at.present? %>
        <b>Inicio</b> <em><%= best_in_place @retrospective, :start_at, type: :date, display_with: lambda{|value| l value } %></em>
        <b>Termino</b> <em><%= best_in_place @retrospective, :finish_at, type: :date, display_with: lambda{|value| l value } %></em>
      <% end %>
    </div>
  </div><!--/div:span5 -->
</div><!-- div:row -->
<%= render 'list_worst' %>
<div class="row-fluid">
  <div class="span6">
    <h4><a href="#addBom" role="button" class="btn btn-small btn-success" data-toggle="modal">Bom</a></h4>
    <%= render 'list_goods' %>
  </div><!-- div:span6 -->
  <div class="span6">
    <h4><a href="#addRuim" role="button" class="btn btn-small btn-danger" data-toggle="modal">Ruim</a></h4>
    <%= render 'list_bads' %>

  </div><!-- div:span6 -->
</div><!-- div:row -->

<%= render 'new_good' %>
<%= render 'new_bad' %>
<%= render 'delete_goods' %>
<%= render 'delete_bads' %>
