<!DOCTYPE html>
<html>
  <head>
    <title>Retrospectiba</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-40782711-1', 'retrospectiba.com');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Retrospectiba', retrospectives_path, :class => "brand" %>
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <li class="divider-vertical"></li>
              <% if @current_user.admin %>
                <li><%= link_to "Usuários", users_path %></li>
                <li class="divider"></li>
              <% end %>
              <li><%= link_to @current_user.name, edit_user_path(@current_user) %>
              <li class="divider"></li>
              <li><%= link_to "Alterar senha", password_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Sair", logout_path %></li>
            </ul><!-- /nav pull-right -->
          </div><!-- /div.nav-collapse -->
        </div>
      </div><!-- /div:container -->
    </div>
    <div class="container">
      <div class="content">
        <% if notice %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>Yeah!</h4>
            <%=notice%>
          </div>
        <% end %>
        <%= yield %>
      </div><!-- /div:content-->
    </div><!-- /div:container-->
    <footer>
      <div class="container">
        <br/>
        <p>
          <span class="label label-info">www.retrospectiba.com</span>
          <span class="label label-important"><a href="https://github.com/zekitow/retro/network/members" target="_blank">contribuidores</a></span>
        </p>
      </div><!-- /div:container-->
    </footer>
  </body>
</html>
